terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/.terraform/
terraform/user_data.sh

jenkins/jenkins-init.groovy
jenkins/config.xml

data/grafana/
data/jenkins/
data/prometheus/

.env

awscliv2.zip

*.log
*.tmp1
*.bak
*.swp